$ui-default-radius:                 0px;
$ui-default-box-shadow:             0 1px 5px 0 rgba(138,138,138,0.50);
$ui-default-bg-colour:              white;
$ui-default-transition:             all 0.3s ease-in-out;
$base-spacing-unit:                 20px;
$half-spacing-unit:                 ($base-spacing-unit / 2);
$quarter-spacing-unit:              ($base-spacing-unit / 4);