$filter-height:                   ($base-spacing-unit * 2.5);
$filter-item-padding:             ($half-spacing-unit) ($half-spacing-unit);
$filter-item-bg-color:            white;
$filter-item-bg-color-active:     $color-red;
$filter-item-bg-color-hover:      $filter-item-bg-color;
$filter-item-accent-active:       5px solid $filter-item-bg-color-active;
$filter-item-seperator-color:     $color-wild-sand;

.filter {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  height: $filter-height;
  font-size: 19px;
  &__item {
    display: flex;
    height: 100%;
    width: 50%;
    border-left: 1px solid transparent; // Prevent jumping
    
    background-color: $filter-item-bg-color;
    align-items: center;
    a {
      padding: $filter-item-padding;
      text-decoration: none;
      &:hover {
        background-color: rgb(255, 209, 209);
        // color: black;
        // color: white;
      }
    }
    
  }
  &__item + &__item {
    border-left: 1px solid $filter-item-seperator-color;
  }
  &__item--active {
    height: 100%;
    color: $filter-item-bg-color;
    border-top: $filter-item-accent-active;
    border-left: transparent !important;
    background-color: $filter-item-bg-color-active;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    &:hover {
        a {
        display: block;
        color: $filter-item-bg-color;
        background-color: $filter-item-bg-color-active;
      }
    }
  }
}

.filter--justify {
  justify-content: space-between;

  .filter__item {
    flex-grow: 1;
    a {
      width: 100%;
      text-align: center;
      // padding: $half-spacing-unit;
    }
  }
}


@media only screen and (min-width: $breakpoint-desktop) {
  .filter {
    align-items: flex-end;

    &__item {
      height: auto;
      width: auto;
    }
  }
}