.jumbotron--image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron--homepage {
  background-image: url("images/img__splash--homepage.jpg");
  min-height: 250px;
  border-bottom: 1px solid white;
}