.link-list-group {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  & + & {
    margin-top: $base-spacing-unit;
  }
}

  .link-list-group__item {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 0;
      &:hover {
        text-decoration: none;
        i {
          margin-right: -5px;
        }
      }
      i {
        color: $color-red;
        transition: $ui-default-transition-short;
      }
    }
  }