// Vars
$rp-circle-size:                      82px;
$rp-circle-background:                #d6dadc;
$rp-circle-background-static:         #fff;
$rp-inset-color:                      #fbfbfb;
// $rp-shadow:                           6px 6px 10px rgba(0,0,0,0.2);
$rp-shadow:                           none;
$rp-good-color:                       $color-green;
$rp-warning-color:                    $color-cerulean;
$rp-alert-color:                      $color-red;
$rp-label-color:                      $color-mine-shaft;
$rp-number:                           attr(data-number);
$rp-progress:                         attr(data-progress);
$rp-description:                      attr(data-description);
$rp-inset-size:                       $rp-circle-size / 1.1;
$rp-percentage-font-size:             $rp-inset-size / 3.67;
$rp-label-font-size:                  $rp-inset-size / 7;

// Show a percentage and corresponding radial track
.radial-progress { 
  &[data-alertlevel="0"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    .circle .mask .fill {
      background-color:  $rp-good-color;
    }
  }
  &[data-alertlevel="1"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    .circle .mask .fill {
      background-color:  $rp-alert-color;
    }
  }  
  &[data-alertlevel="2"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    .circle .mask .fill {
      background-color:  $rp-warning-color;
    }
  }
  position: relative;
  display: inline-block;
  margin: 2px;
  width: $rp-circle-size;
  height: $rp-circle-size;
  background-color: $rp-circle-background;
  border-radius: 50%;
  &:before,
  &:after {
    position: absolute;
    left: 0;
    transform: translateX($rp-circle-size * 0.175);
    z-index: 1;
    width: $rp-circle-size * 0.65;
    height: $rp-circle-size;
    white-space: pre-wrap; 
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
  }
  &:before {
    margin-top: -13%;
    content: $rp-progress'%';
    font-weight: bold;
    font-size: $rp-percentage-font-size;
  }
  &:after {
    margin-top: 14%;
    // content: $rp-progress'%' '\A '$rp-description;
    content:  $rp-description;
    font-size: $rp-label-font-size;
    line-height: 1;
  }
  .circle {
    .mask, .fill, .shadow {
      width:    $rp-circle-size;
      height:   $rp-circle-size;
      position: absolute;
      border-radius: 50%;
    }
    .shadow {
      box-shadow: $rp-shadow inset;
    }
    .mask, .fill {
      -webkit-backface-visibility: hidden;
      border-radius: 50%;
    }
    .mask {
      clip: rect(0px, $rp-circle-size, $rp-circle-size, $rp-circle-size/2);
      .fill {
        clip: rect(0px, $rp-circle-size/2, $rp-circle-size, 0px);
      }
    }
  }
  .inset {
    width:       $rp-inset-size;
    height:      $rp-inset-size;
    position:    absolute;
    margin-left: ($rp-circle-size - $rp-inset-size)/2;
    margin-top:  ($rp-circle-size - $rp-inset-size)/2;
    background-color: $rp-inset-color;
    border-radius: 50%;
    box-shadow: $rp-shadow;
  }
  $i: 0;
  $increment: 180deg / 100;
  @while $i <= 100 {
   &#{"[data-progress='" + $i + "']"} {
      .circle {
        .mask.full, .fill {
          -webkit-transform: rotate($increment * $i);
          -ms-transform: rotate($increment * $i);
          transform: rotate($increment * $i);
        }	
        .fill.fix {
          -webkit-transform: rotate($increment * $i * 2);
          -ms-transform: rotate($increment * $i * 2);
          transform: rotate($increment * $i * 2);
        }
      }
    }
    $i: $i + 1;
  }
}

// Static (no radial trickery)
.radial-progress-static {
  &[data-alertlevel="0"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    border-color: $rp-good-color;
  }
  &[data-alertlevel="1"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    border-color: $rp-alert-color;
  }  
  &[data-alertlevel="2"] {
    &:after, &:before  {
      color:  $rp-label-color;
    }
    border-color: $rp-warning-color;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    transform: translateX($rp-circle-size * 0.135);
    z-index: 1;
    width: $rp-circle-size * 0.65;
    height: $rp-circle-size - $half-spacing-unit;
    white-space: pre-wrap; 
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
  }
  &:before {
    margin-top: -13%;
    content: $rp-number;
    font-weight: bold;
    font-size: $rp-percentage-font-size;
  }
  &:after {
    margin-top: 14%;
    // content: $rp-progress'%' '\A '$rp-description;
    content:  $rp-description;
    font-size: $rp-label-font-size;
    line-height: 1;
  }

  position: relative;
  display: inline-block;
  margin: 2px;
  width: $rp-circle-size;
  height: $rp-circle-size;
  background-color: $rp-circle-background-static;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
}