// Horizontal rules, extend 'hr'.

.rule {
  color: $base-ui-color;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: $base-spacing-unit - 1px;
  // margin-bottom: (($base-spacing-unit - 1px) / $base-font-size) * 1rem;
}

.rule--thicker {
  border-bottom-width: 2px;
}

// Dotted rules

.rule--dotted {
  border-bottom-style: dotted;
}

// Dashed rules

.rule--dashed {
  border-bottom-style: dashed;
}

// Ornamental rules. Places a ยง over the rule.

.rule--ornament {
  position: relative;

  &:after {
    content: "\00A7";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    line-height: 0;
    text-align: center;
  }

  // Arbitrary ornament with data attribute:
  // <hr class="rule  rule--ornament" data-ornament="!">

  &[data-ornament]:after {
    content: attr(data-ornament);
  }
}

.rule--section-break-x {
  // Needs to live inside section > .section-container.
  @extend .rule--thicker;
  position: relative;
  // max-width: $breakpoint-desk-wide;
  margin: 0 auto 0 auto;
  // @include media-query(desk-wide) {
  //   // margin-bottom: ($base-line-height * 1.5);
  // }
  &:after {
    // background-image: url('#{$path-images}section-break.png');
    // background-size: 30px;
    // height: 30px;
    // width: 30px;
    content: url("/static/images/section-break.png");
    transform: scale(0.5);
    position: absolute;
    top: -29px;
    right: 0;
    left: 0;
    line-height: 0;
    text-align: center;
  }
}
