.tabs {
  display: flex;
  flex-flow: column;

  &__nav {
    flex-shrink: 0;
  }
  &__nav-item {
    &, &:hover, &:focus {
      text-decoration: none;
    }
  }
  &__content {
    flex-shrink: 1;
    flex-grow: 1;
  }
  &__pane {
    padding: $base-spacing-unit;
    display: none;
    flex-grow: 1;
    height: 100%;
    &--active {
      display: block;
    }
  }
}

.tabs--dashboard {
  flex-flow: row;
  .tabs__nav {
    width: 42%;
    max-width: 390px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }

  .tabs__nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    background-color: $color-wild-sand;
    padding: $base-spacing-unit $quarter-spacing-unit $base-spacing-unit $base-spacing-unit;
    flex-grow: 1;

    .tabs__nav-item__child {
      &:nth-child(1) {
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        margin-right: auto;
      }
      &:nth-child(2) {
        order: 0;
        flex: 0 0 auto;
        align-self: center;
      }
      &:nth-child(3) {
        order: 0;
        flex: 0 0 auto;
        align-self: center;
      }
      &:nth-child(4) {
        order: 0;
        flex: 0 0 auto;
        align-self: center;
      }
    }

    > * {
      opacity: 0.5;
    }
    &--active,
    &:hover {
      background-color: white;
      > * {
        opacity: 1;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $color-silver;
    }
    &:not(.tabs__nav-item--active) {
      border-right: 1px solid $color-silver;
    }
  }
}

