.heading-group {
  display: block;
  > *:first-child {
    margin-bottom: 0 !important;
  }
  > * + * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  margin-bottom: $base-spacing-unit;
}